.topBarSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.companyTitle h2 {
  margin: 0;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.centerContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userAuth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: #000;
}

.logoutButton {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
